@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans"),
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff");
}

:root {
  --color-alto: #dadada;
  --color-astral: #3172b9;
  --color-boulder: #787878;
  --color-cod-gray: #1c1c1c;
  --color-madison: #0e3b6c;
  --color-mercury: #e4e4e4;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section-title {
  margin: 0 0 22px;
  padding: 87px 0 0;
  color: var(--color-cod-gray);
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
}

.section-descr {
  margin: 0;
  color: var(--color-boulder);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.header {
  padding: 29px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: block;
  max-height: 44px;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 53px;
}

.header__nav-link {
  font-size: 15px;
  font-weight: 600;
}

.header__btn {
  margin-left: 54px;
  padding: 16px 35px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-white);
  background: var(--color-astral);
  text-transform: uppercase;
}

.hero {
  padding-top: 114px;
  padding-bottom: 114px;
  background-image: url("../assets/img/hero-bg@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../assets/img/hero-bg@2x.jpg");
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__content {
  max-width: 54%;
}

.hero__title {
  margin: 0 0 26px;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
}

.hero__descr {
  margin: 0 0 34px;
  color: var(--color-boulder);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
}

.hero__btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.hero__btn {
  display: block;
  margin-bottom: 14px;
  padding: 19px 58px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-white);
  background: var(--color-astral);
  text-transform: uppercase;
}

.hero__secure {
  padding-left: 27px;
  color: var(--color-boulder);
  font-size: 11px;
  font-weight: 400;
  line-height: 155%;
  text-transform: uppercase;
  background: url('../assets/svg/secure.svg')  left center / contain no-repeat
}

.services {
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-mercury);
}

.services__title {
  text-align: center;
}

.services__descr {
  margin-bottom: 57px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__list-item {
  max-width: 270px;
  margin-bottom: 30px;
}

.services__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 20px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  height: 100%;
  overflow: hidden;
  text-align: center;
  
}

.services__list-svg {
  margin-bottom: 32px;
}

.services__list-title {
  margin: 0;
  color: var(--color-cod-gray);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.services__list-descr {
  color: var(--color-boulder);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.articles {
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-mercury);
}

.articles__title {
  margin: 42px 0;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles__list-item {
  display: flex;
  margin-bottom: 30px;
  max-width: 570px;
  border-radius: 5px;
  border: 1px solid var(--color-mercury);
  overflow: hidden;
}

.articles__list-content {
  padding: 23px 30px 38px;
}

.articles__list-date {
  color: var(--color-boulder);
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.articles__list-title {
  margin: 0 0 15px;
  color: var(--color-cod-gray);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; 
}

.articles__list-descr {
  color: var(--color-boulder);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.clients {
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-mercury);
}

.clients__title {
  margin-bottom: 42px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__list-item {
  margin-bottom: 30px;
  padding: 51px 36px 32px;
  max-width: 370px;
  border-radius: 5px;
  border: 1px solid var(--color-mercury);
}

.clients__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-list-descr {
  color: var(--color-boulder);
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}

.clients__list-bottom {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-mercury);
  padding-top: 28px;
}

.clients__list-img-wrap {
  margin-right: 17px;
  border: 2px solid var(--color-astral);
  border-radius: 50%;
  width: 67px;
  height: 67px;
  overflow: hidden;
}

.clients__list-name {
  margin: 0;
  color: var(--color-cod-gray);
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
}

.clients__list-position {
  margin: 0;
  color: var(--color-boulder);
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-mercury);
}

.contacts__title {
  margin-bottom: 109px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__list-item {
  margin-bottom: 30px;
  padding-top: 48px;
  width: 370px;
  background-position: top left;
  background-size: 29px 29px;
  background-repeat: no-repeat;
}

.contacts__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts__list-item-address {
  background-image: url('../assets/svg/contacts-1.svg');
}

.contacts__list-item-tel {
  background-image: url('../assets/svg/contacts-2.svg');
}

.contacts__list-item-email {
  background-image: url('../assets/svg/contacts-3.svg');
}

.contacts__list-title {
  margin: 0 0 30px;
  color: var(--color-cod-gray);
  font-size: 17px;
  font-weight: 600;
}

.contacts__list-descr {
  display: flex;
  flex-direction: column;
  max-width: 214px;
  color: var(--color-boulder);
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}

.join-us {
  padding-bottom: 122px;
  border-bottom: 1px solid var(--color-mercury);
}

.join-us__title {
  margin: 0 0 22px;
  text-align: center;
}

.join-us__descr {
  margin: 0 0 30px;
}

.form {
  padding: 0 55px;
}

.form__top {
  display: flex;
  justify-content: space-between;
}

.form__left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
}

.form__input {
  margin-bottom: 19px;
  border-radius: 50px;
  border: 1px solid var(--color-alto);
  padding: 15px 28px;
  width: 251px;
  color: var(--color-boulder);
  font-size: 16px;
  font-weight: 400;
}

.form__right {
  margin-bottom: 19px;
  width: 49%;
}

.form__texarea {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 20px;
  border: 1px solid var(--color-alto);
  padding: 15px 28px;
  color: var(--color-boulder);
  font-size: 16px;
  font-weight: 400;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__bottom-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin-bottom: 9px;
  padding: 15px 0;
  border: none;
  border-radius: 50px;
  width: 230px;
  background: var(--color-astral);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.form__checkbox-wrap {
  display: flex;
  align-items: center;
  color: var(--color-boulder);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.form__checkbox-wrap input {
  margin-right: 8px;
}

.form__checkbox {
  padding-left: 20px;
}

.form__checkbox-link {
  color: var(--color-astral);
  text-decoration-line: underline;
}

.footer {
 padding: 45px 0; 
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer__logo-link {
  margin-right: 25px;
}

.footer__copyrigth {
  color: var(--color-boulder);
  font-size: 12px;
  font-weight: 400;
}

.footer__rigth {
  display: flex;
  align-items: center;
}

.footer__nav-list {
  display: flex;
  margin-right: 56px;
}

.footer__nav-item {
  color: var(--color-boulder);
  font-size: 15px;
  font-weight: 600;
}

.footer__nav-item:not(:last-child) {
  margin-right: 28px;
}

.footer__list-social {
  display: flex;
}

.footer__list-social-item:not(:last-child) {
  margin-right: 32px;
  width: 24px;
  height: 24px;
}

